.footer{
    display: flex;
    justify-items: center;
    .footerLogo{
        padding: 20px 5px;
        width: 10%;
        border: 2px solid black;
        border-right: none;
    }
    .contact{
        width: 100%;
        display: flex;
        justify-content: space-between;
        div{
            padding: 20px 5px;
            width: 100%;
            border: 2px solid black;
            border-right: none;
            &:last-of-type{
                border-right: 2px solid black;
            }
        }
    }
    @media all and (max-width: 600px){
        flex-direction: column;
        .footerLogo{
            display: none;
        }
        .contact{
            flex-direction: column;
            div{
                text-align: center;
                border: 2px solid black;
                border-bottom: none;
                &:last-of-type{
                    border-bottom: 2px solid black;
                    border-right: 2px solid black;
                }
            }
        }
    }
}

    
    